#### Libraries

In [1]:
import pandas as pd
import numpy as np

#### without Context Data

In [2]:
df1 = pd.read_csv('data/two_treatment/dt0_without_context.csv' ,index_col=0)
df1.head()

   t  patient_id  treatment   outcome
0  0           0          0  0.125730
1  1           0          0 -0.132105
2  2           0          0  0.640423
3  3           0          0  0.104900
4  4           0          0 -0.535669

In [3]:
context = df1[['t', 'patient_id']]

In [4]:
context

       t  patient_id
0      0           0
1      1           0
2      2           0
3      3           0
4      4           0
...   ..         ...
2995  25          99
2996  26          99
2997  27          99
2998  28          99
2999  29          99

[3000 rows x 2 columns]

#### creating random nan values

In [5]:
df = df1.copy()
column = 'outcome'
nan_fraction = 0.1  # 30% of the data in column B will be set to NaN

total_rows = len(df)
nan_count = int(total_rows * nan_fraction)

# seed for reproducibility
np.random.seed(0)
nan_indices = np.random.choice(df.index, nan_count, replace=False)

# Set those randomly selected positions to NaN in the specified column
df.loc[nan_indices, column] = np.nan

#### Separating the dataframe to calculate missing data
In a bayesian aaptive N_of_1 trials, we are going to calculate the missing data as we prepare to update the posterior joint distribution. Thus, the first step is to sepaate the dataframe when the first missing value appears.

In [6]:
## seperating the dataframe at the point of first missing value
nan_t = df[df.isna().any(axis=1)]['t']
nan_t = nan_t.sort_values(ascending=True).unique() ## shorting the value in ascending order to make sure we dot the first time cycle
ts = nan_t[0]
dt = df[df['t'] <= ts].copy()
dt.head()

     t  patient_id  treatment   outcome
0    0           0          0  0.125730
30   0           1          0       NaN
60   0           2          0  0.189053
90   0           3          0  2.040919
120  0           4          0 -0.651791

Now, we have data set where we encountered the first missig value in the experiments. lets fill the missing value with various method.
#### KNN mean filling method
For the context KNN filling method, we are followin a similar algorithm to KNN imputation method. We can descide how many value we want to consider. if 1, then the nearest distance value will fill the missng value. If more than 1 (i.e K), then the mean value of K nearest values will fill the missing value.
The context of the each paitent and the treatment altogether is a vector (i.e for paitient id 1 the vector is $[c_1, c_2, ...., c_n, treatment]_{p_1}$). We calculate the distance of the missing value points/paitients vector with all the other available vector. Then, K nearest outcome values mean is used to fill the missing value.

If no context is available, then we are using the treatment as a singular context.

In [7]:
def get_context_vectors(without_miss_dt, context_cols):
        
    context_vectors = []
    for row in without_miss_dt.itertuples():
        row_values = [getattr(row, col) for col in context_cols]
        context_vectors.append(row_values)

    return (np.array(context_vectors))

def get_distance(context_vectors, miss_vec):
    
    distances = []
    for vector in context_vectors:
        d = np.linalg.norm(vector - miss_vec)
        distances.append(d) 
    return(distances)

In [8]:
def KNN_fill(dt, context_cols = list, k = 1): 
    # dt is the data Frame
    # context_cols will be list of columns name which are considered as context 
    
    dt_fill = dt.copy()
    miss_dt = dt_fill[dt_fill['outcome'].isna()]
    without_miss_dt = dt_fill[dt_fill['outcome'].isna() == False].copy()
    context_vectors = get_context_vectors(without_miss_dt, context_cols)
    
    for row in miss_dt.itertuples():
        miss_vec = np.array([getattr(row, col) for col in context_cols])
        dis = get_distance(context_vectors, miss_vec)
        without_miss_dt['distance'] = dis
        
        sorted_without_miss_dt = without_miss_dt.sort_values(by = 'distance')
        
        fill_value = sorted_without_miss_dt['outcome'].head(k).mean()
        dt_fill.loc[row.Index,'outcome'] = fill_value
    
    return dt_fill

In [9]:
k = 2
context_cols = ['treatment']

print(dt.isna().value_counts())
filled_dt = KNN_fill(dt, context_cols, k)
print(filled_dt.isna().value_counts())

t      patient_id  treatment  outcome
False  False       False      False      86
                              True       14
Name: count, dtype: int64
t      patient_id  treatment  outcome
False  False       False      False      100
Name: count, dtype: int64

**when t =! 0**

In [86]:
next_cycle = df[(df['t']> nan_t[0]) & (df['t'] <= nan_t[1])].copy()
next_dt = pd.concat([filled_dt, next_cycle], axis= 0, ignore_index=False) # add the next cycle to the data
next_dt = next_dt.sort_index()
next_dt

      t  patient_id  treatment   outcome
0     0           0          0  0.125730
1     1           0          0 -0.132105
30    0           1          0  0.345584
31    1           1          0  0.821618
60    0           2          0  0.189053
...  ..         ...        ...       ...
2911  1          97          1  1.160014
2940  0          98          0 -1.087591
2941  1          98          0 -1.244621
2970  0          99          0  0.082494
2971  1          99          0       NaN

[200 rows x 4 columns]

In [87]:
print(next_dt.isna().value_counts())
next_filled_dt = KNN_fill(next_dt, context_cols, k)
print(next_filled_dt.isna().value_counts())

t      patient_id  treatment  outcome
False  False       False      False      193
                              True         7
Name: count, dtype: int64
t      patient_id  treatment  outcome
False  False       False      False      200
Name: count, dtype: int64

#### with context data

In [3]:
df2 = pd.read_csv('data/two_treatment/dt0_with_context.csv' ,index_col=0)
df2.head()

          c  t  patient_id  treatment   outcome
0  0.125730  0           0          0 -0.132105
1  0.640423  1           0          0  0.104900
2 -0.535669  2           0          0  0.361595
3  1.304000  3           0          0  0.947081
4 -0.703735  4           0          0 -1.265421

In [8]:
## creating random nan values
df = df2.copy()
column = 'outcome'
nan_fraction = 0.1  

total_rows = len(df)
nan_count = int(total_rows * nan_fraction)

# seed for reproducibility
np.random.seed(0)
nan_indices = np.random.choice(df.index, nan_count, replace=False)

# Set those randomly selected positions to NaN in the specified column
df.loc[nan_indices, column] = np.nan

#### Separating the dataframe to calculate missing data
In a bayesian aaptive N_of_1 trials, we are going to calculate the missing data as we prepare to update the posterior joint distribution. Thus, the first step is to sepaate the dataframe when the first missing value appears.

In [9]:
## seperating the dataframe at the point of first missing value
nan_t = df[df.isna().any(axis=1)]['t']
nan_t = nan_t.sort_values(ascending=True).unique() ## shorting the value in ascending order to make sure we dot the first time cycle
ts = nan_t[0]
dt = df[df['t'] <= ts].copy()
dt.head()

            c  t  patient_id  treatment   outcome
0    0.125730  0           0          0 -0.132105
30   0.345584  0           1          0       NaN
60   0.189053  0           2          1 -0.522748
90   2.040919  0           3          1 -2.555665
120 -0.651791  0           4          0 -0.174717

**while t = 0**

In [13]:
k = 2
context_cols = ['c','treatment']

print(dt.isna().value_counts())
filled_dt = KNN_fill(dt, context_cols, k)
print(filled_dt.isna().value_counts())

c      t      patient_id  treatment  outcome
False  False  False       False      False      86
                                     True       14
Name: count, dtype: int64
c      t      patient_id  treatment  outcome
False  False  False       False      False      100
Name: count, dtype: int64

**when t =! 0**

In [14]:
next_cycle = df[(df['t']> nan_t[0]) & (df['t'] <= nan_t[1])].copy()
next_dt = pd.concat([filled_dt, next_cycle], axis= 0, ignore_index=False) # add the next cycle to the data
next_dt = next_dt.sort_index()
next_dt

             c  t  patient_id  treatment   outcome
0     0.125730  0           0          0 -0.132105
1     0.640423  1           0          0  0.104900
30    0.345584  0           1          0  0.752856
31    0.330437  1           1          0 -1.303157
60    0.189053  0           2          1 -0.522748
...        ... ..         ...        ...       ...
2911 -0.425905  1          97          0 -0.985005
2940 -1.087591  0          98          0 -1.244621
2941  0.560527  1          98          0       NaN
2970  0.082494  0          99          1 -0.464418
2971  0.050515  1          99          1  0.686231

[200 rows x 5 columns]

In [15]:
print(next_dt.isna().value_counts())
next_filled_dt = KNN_fill(next_dt, context_cols, k)
print(next_filled_dt.isna().value_counts())

c      t      patient_id  treatment  outcome
False  False  False       False      False      188
                                     True        12
Name: count, dtype: int64
c      t      patient_id  treatment  outcome
False  False  False       False      False      200
Name: count, dtype: int64